@import "../styles/custom-media.css";

.wrapper {
  box-sizing: border-box;
  max-width: 960px;
  padding: 1.5em;
  margin: 0 auto;
}

.container {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;

  @media (--media-min-small) {
    padding: 2em;
    grid-template-columns: 1fr 1fr;
  }

  @media (--media-min-medium) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.addresselement p {
  margin: 0;
}

.addresstitle {
  text-transform: uppercase;
  font-style: italic;
}
