@import "../styles/custom-media.css";

.container {
  box-sizing: border-box;
  max-width: 960px;
  padding: 1.5em;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (--media-min-small) {
    padding: 2em;
  }
}

.addresselement {
  flex: 0 0 220px;
}

.addresselement p {
  margin: 0;
}

.addresstitle {
  text-transform: uppercase;
  font-style: italic;
}
